extends layout
block pageTitle
    .jumbotron
        h1 Hotlab Connect
        h2 Hotlab Connect is the gateway to access Hotlab peripherals. Currently Atomlab 100 Dose calibrators and Barcode Scanners are supported..


    .jumbotron
        .container-fluid
            .row-fluid.well-lg
                .container-fluid
                    h2 Functions Available
                    hr
                    p
                        b /zplprint/:barcodename/:zplcode/:copies
                        p
                        | Used to upload a zpl label file for printing. HotlabConnect will receive,print and then delete the label file. The number of copies parameter is optional.
                        | An example would be http://10.7.145.98:8080/zplprint/g1/urlencode(zplcode)/5...This would print 5 copies
                    hr
                    p
                        b /zpltest
                        p
                        | Used to test printing a label on the zebra printer
                        | Usage example: http://10.7.145.98:8080/zpltest
                    hr
                    p
                        b /settings
                        p
                        | Used to configure the settings of HotlabConnect.
                    hr
                    p
                        b /getCommPorts
                        p
                        | Shows a list of available CommPorts on HotlabConnect.
                    hr
                    p
                        b /getCalReading
                        p
                        | Retrieves the Dose calibrator reading.
                    hr
                    p
                        b /getBarcode
                        p
                        | Retrieves the Dose calibrator status.
                    hr
                    p
                        b /getBarcode
                        p
                        | Retrieves the last read barcode.
                    hr
                    p
                        b /control/:isotope
                        p
                        | Sets the Dose calibrator Isotope.
                        | Example....http://10.7.145.98:8080/control/Tc-99m

                p
                    b /sendcommand/:command
                    p
                    | Send a command to the Dose calibrator.
                    | Example....http://10.7.145.98:8080/sendcommand/1
